div.forgotPassword
{
	
}

div.forgotPassword div.alert
{
	margin:50px 100px;
	border: 1px dashed #dadada;
	padding:10px;
	border-radius:5px;
	background-color:#FDF9EE;
	font-weight:bold;
}
div.forgotPassword div.alert h2
{
	padding-bottom:10px;
	color:#c80000;
}

div.form
{
	height:250px;
	padding-left:300px;
}

div.forgotPassword div.form h3
{
	margin-bottom:20px;
}
div.forgotPassword div.form table
{
	border-collapse: collapse;
}
div.forgotPassword div.form table td
{
	padding-bottom:10px;
	padding-right:10px;
}
div.forgotPassword div.form table td.submit
{
	text-align:right;
}
div.forgotPassword div.form table td input[type=text],
div.forgotPassword div.form table td input[type=password]
{
	width:200px;
}