div.login
{
	height:400px;
	padding-left:300px;
	padding-top:100px;
}
div.login h3
{
	margin-bottom:20px;
}
div.login table
{
	border-collapse: collapse;
}
div.login table td
{
	padding-bottom:10px;
	padding-right:10px;
}
div.login table td.submit
{
	text-align:right;
}
div.login table td a.forgot
{
	float:left;
}
div.login table td a.register
{
	float:right;
}
div.login table td input[type=text]
{
	width:200px;
}