div.register 
{
	height:500px;
	padding-left:50px;
}
div.register h3
{
	margin-bottom:20px;
}
div.register table
{
	border-collapse: collapse;
}
div.register table td
{
	padding-bottom:10px;
	padding-right:10px;
}
div.register table td.submit
{
	text-align:right;
}
div.register table td input[type=text]
{
	width:200px;
}